body {
  margin: 0;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rtl {
  direction: rtl;
}

#container {
  display: flex;
  flex-direction: column;

  .picker-container {
    position: relative;
    width: fit-content;
    z-index: 999999;
    padding: 0.1rem 0;
  }
}

.dateinput {
  direction: ltr !important;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 0.125rem;
  input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0.3rem;
  }
  &:focus-within {
    border-color: #60a5fa;
  }
  img {
    opacity: 0.4;
    margin: 0;
    padding: 0 0.3rem;
    cursor: text;
  }
  img.clear {
    padding: 0 0.1rem;
    cursor: pointer;
  }
}

.dateinput:hover {
  border-color: #60a5fa;
  transition: 300ms;
}

.dateinput-disabled {
  cursor: not-allowed;
  background-color: rgba(239, 239, 239, 0.3);
  input {
    cursor: not-allowed;
  }
  img {
    cursor: not-allowed;
  }
}

.dateinput-readonly {
  cursor: not-allowed;
  input {
    cursor: not-allowed;
  }
  img {
    cursor: not-allowed;
  }
}

.dateinput-rtl {
  flex-direction: row-reverse;
  input {
    text-align: right;
  }
}

.options {
  background-color: white;
  overflow-y: auto;
  height: auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  z-index: 999999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

.currentmonth {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  img {
    margin-right: 0.2rem;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

.date-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
}

table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  tr {
    border: 0;
    th {
      opacity: 0.6;
      padding-bottom: 0.3rem;
    }
    td {
      border: 0;
    }
  }
}

.day {
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  background: unset;
}

.day.isSelected {
  color: #1e88e5;
  background: rgba(30, 136, 229, 0.2);
}

.day.isSelected.isToday {
  color: #fff;
  background: #1e88e5;
}

.day:hover {
  background: rgba(30, 136, 229, 0.2);
  color: #1e88e5;
}

.day.isToday {
  font-weight: bolder;
}

.day:hover.isToday {
  background: #1e88e5;
  color: #fff;
}

button.primary {
  background: #1e88e5;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem 0.3rem;
}

button.primary:hover {
  cursor: pointer;
  background: #3390e2;
}

.infinite-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .picker-container {
    position: relative;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    scroll-behavior: smooth;
  }
}

.other {
  padding: 0.2rem 2.5rem;
  cursor: pointer;
}

.target {
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 0.2rem 2.5rem;
  font-weight: bold;
  cursor: text;
}

input.input-month {
  background-color: #f5f5f5;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.7rem;
  line-height: 1rem;
  font-size: medium;
  outline: none;
}

input.input-year {
  background-color: #f5f5f5;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.2rem;
  line-height: 1rem;
  font-size: medium;
  outline: none;
}
